body {
    color: red;
    font-family: 'Jersey 10', jersey10;
}

#main {
    background-color: whitesmoke;
    border: 1px solid;
    border-color: darkgray;
    color: #333333;
    padding: 0px 20px 20px 20px;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}